@import "../../assets/styles/_colors";

.main {
  .content-body {
    padding-top: 6em;
    max-width: 64em;
    flex: 1;
    margin: auto;

    .error {
      color: $payoneer_orange;
    }

    .filters {
      height: 4em;
      display: flex;
      width: 100%;
      justify-content: space-between;

      .location,
      .unit,
      #refresh-button {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: $default_shadow;
        display: flex;
        align-items: center;
      }

      .refresh-cont {
        display: flex;
      }

      #refresh-button {
        padding: 0.5em 1em;
        color: $payoneer_orange;
        border: 0;
        margin-right: 1em;

        &:hover {
          cursor: pointer;
        }
      }

      .location {
        padding: 0 1em;

        .city-select {
          width: 8em;

          #grouped-select,
          label {
            color: $payoneer_grey;
          }
        }
      }

      .unit {
        padding: 0 0 0 1em;

        .custom-fieldset {
          justify-content: center;

          .custom-radio {
            flex-direction: row;

            label {
              span,
              & + span {
                color: $payoneer_grey;
              }

              .Mui-checked {
                span,
                & + span {
                  color: $payoneer_orange;
                }
              }
            }
          }
        }
      }
    }

    .card-parent {
      margin-top: 1em;
      width: 100%;
      margin: 0 0 4em;

      .cards {
        display: flex;
        justify-content: space-between;
        width: 100%;
        overflow-x: visible;
        padding: 1em 0;

        &.underThree {
          justify-content: flex-start;

          & > .card {
            margin-right: 5em;
          }
        }
      }

      .card-control {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 0.5em 0;

        button {
          border: 0;
          background: transparent;
          display: flex;
          align-items: center;
          color: $payoneer_blue;

          &:hover {
            cursor: pointer;
          }
        }

        .hidden {
          visibility: hidden;
        }
      }
    }

    .chart {
      display: flex;
      justify-content: center;

      .chart-placeholder {
        background-color: $payoneer_orange;
        color: #fff;
        font-size: 20px;
        text-align: center;

        p {
          text-transform: uppercase;
          font-weight: bold;
          padding: 3em 5em;
        }
      }
    }
  }
}

@media only screen and (max-width: 1038px) {
  .main {
    .content-body {
      padding: 6em 1em;

      .chart {
        .chart-placeholder {
          p {
            padding: 3em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 579px) {
  .main {
    .content-body {
      padding: 6em 1em;

      .filters {
        flex-direction: column;
        .location {
          margin-bottom: 1em;
          padding: 1em 0;
          justify-content: center;
        }

        .unit {
          justify-content: center;
          padding: 1em 0;
        }
      }

      .card-parent {
        margin-top: 7em;
        .cards {
          flex-direction: column;
        }

        .card-control {
          button {
            img {
              width: 2em;
            }
          }
        }
      }

      .chart {
        .chart-placeholder {
          p {
            padding: 3em 1em;
          }
        }
      }
    }
  }
}
