@import "../../assets/styles/_colors";

.card {
  align-items: center;
  box-shadow: $default_shadow;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  height: 14.5em;
  padding-left: 2em;
  position: relative;
  width: 32%;
  background-color: #fff;

  &.active {
    box-shadow: $hover_shadow;
    border: 1px solid rgba(255, 72, 0, 0.5);
  }

  &:hover {
    cursor: pointer;
    box-shadow: $hover_shadow;
  }

  .outline {
    background-color: $payoneer_orange;
    width: 0.4em;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .details {
    flex: 1;

    .state {
      font-size: 34px;
      margin: 0.3em 0;
    }

    .state,
    .temp {
      color: $payoneer_grey;
    }

    .temp {
      font-size: 54px;
      margin: 0.1em 0;

      .degrees {
        font-size: 14px;
        position: relative;
        top: -1em;
        font-weight: bold;
      }

      .unit {
        font-size: 24px;
        position: relative;
        top: -0.2em;
      }
    }

    .date {
      color: $payoneer_blue;
      font-size: 16px;
    }

    .bottom {
      display: flex;
      width: 100%;

      .bottom-item {
        display: flex;
        flex-direction: column;
        flex: 1;

        span {
          &:first-child {
            color: $payoneer_blue;
            font-size: 12px;
            text-transform: capitalize;
          }

          &:last-child {
            color: $payoneer_grey;
            font-size: 16px;
            margin: 0.3em 0;
          }
        }
      }
    }
  }

  .additional {
    flex: 1;
    align-self: flex-start;
    margin-top: 2em;
    align-items: center;
    display: flex;
    flex-direction: column;

    p {
      font-size: 12px;
      color: $payoneer_grey;
      text-transform: capitalize;
    }

    img {
      width: 7em;
      height: auto;
    }
  }
}

@media only screen and (max-width: 920px) {
  .card {
    flex-direction: column;
    height: auto;
    padding: 0;

    .details,
    .additional {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .bottom {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  .card {
    .additional {
      display: none;
    }
  }
}

@media only screen and (max-width: 579px) {
  .card {
    width: 100%;
    margin-bottom: 1em;
  }
}
