// Colors
$payoneer_orange: #FF4800;
$payoneer_blue: #399BDA; 
$payoneer_grey: #636B78;

// Shadows
$default_shadow: 0px 1px 7px rgba(0, 0, 0, 0.15);
$hover_shadow: 0px 1px 7px rgba(255, 72, 0, 0.4);
